.wrapper {
    background: linear-gradient(35.83deg, rgba(124, 250, 228, 0.9) 0%, rgba(251, 226, 98, 0.9) 89.84%);
    min-height: 100vh;
}

.current_city{
  padding-top: 150px;
}

.content_wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: row;
}

