.wrapper {
    position: absolute;
    width: 100vw;
    height: 100vh;
    left: 0px;
    top: 0px;
    background: linear-gradient(47.61deg, #7EF9E2 5.37%, #FBE572 83.96%);
    z-index: -2;
    overflow-x: hidden;
} 
.text {
    padding-top: 150px;
    /* position: relative; */
    /* top: 50px; */
    text-align: center;
    /* left: -15px; */
    font-family: Roboto Condensed;
    font-style: normal;
    font-weight: bold;
    font-size: 35px;
    line-height: 41px;
}
.text_reg{
    text-align: center;
    font-size: 30px;
    margin-top: 30px;
}
.form_style {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin-top: 30px;
}

.btn_reg{
    width: 150px;
    height: 50px;
    font-size: 15px;
}

.link {
    text-decoration: none;
    color: black;
    font-size: 18px;
    margin-top: 10px;
}

.redirect_to_reg {
    width: 100px;
    height: 50px;
    font-size: 18px;
}

.name_input{
    border-radius: 10px;
    height: 35px;
    padding: 5px;
}

.name_input_text{
    font-weight: 700;
}

.descr_input{
    border-radius: 10px;
    width: 380px;
    height: 150px;
    padding: 5px;
}

.descr_input_text{
    text-align: center;
    font-weight: 700;
    margin-top: 20px;
    margin-bottom: 10px;
}

.photo_input{
    border-radius: 10px;
    margin-bottom: 25px;
}

.photo_input_text{
    text-align: center;
    font-weight: 700;
    margin-top: 20px;
    margin-bottom: 10px;
}

.send_btn {
    margin-bottom: 35px;
}