.wrapper {
    background: linear-gradient(108.28deg, #7CF7E7 6.82%, #F550F9 96.73%);
    min-height: 100vh;
}

.text {
    position: relative;
    top: 158px;
    text-align: center;
    left: -15px;
    font-family: Roboto Condensed;
    font-style: normal;
    font-weight: bold;
    font-size: 35px;
    line-height: 41px;
}
.text_reg{
    text-align: center;
    font-size: 30px;
    margin-top: 30px;
}
form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 270px;
}

.btn_reg{
    width: 150px;
    height: 50px;
    font-size: 15px;
}

.link {
    text-decoration: none;
    color: black;
    font-size: 18px;
    margin-top: 10px;
}