.wrapper {
    background: linear-gradient(108.28deg, #7CF7E7 6.82%, #F550F9 96.73%);
    min-height: 100vh;
}

.text {
    padding-top: 150px;
    /* position: relative; */
    /* top: 50px; */
    text-align: center;
    /* left: -15px; */
    font-family: Roboto Condensed;
    font-style: normal;
    font-weight: bold;
    font-size: 35px;
    line-height: 41px;
}
.text_reg{
    text-align: center;
    font-size: 20px;
    margin-top: 50px;
}
.form_style {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
}

.btn_reg{
    width: 150px;
    height: 50px;
    font-size: 15px;
}

.link {
    text-decoration: none;
    color: black;
    font-size: 18px;
    margin-top: 10px;
}

.redirect_to_reg {
    width: 150px;
    height: 50px;
    font-size: 18px;
    margin-top: 10px;
}

.send_btn{
    width: 185px;
    height: 60px;
    font-size: 24px;
}

.login{
    border-radius: 10px;
    padding: 5px;
}

.login_text{
    font-weight: 700;
    text-align: center;
    margin-bottom: 10px;
}

.password{
    border-radius: 10px;
    padding: 5px;
}

.password_text{
    font-weight: 700;
    text-align: center;
    margin-top: 25px;
    margin-bottom: 10px;
}
